<!-- Modal -->
{% load static %}
<style>
    #close {
        background-color: #5a4c50;
        color: #ccc;
    }
    #close:hover{
        background-color: #2b2829;
        color:#ffffff;
    }
    #notify {
        background-color: #ffc107;
        hoverColor: #cca106;
        color: #1b1b1b;
    }
    #notify:hover{
        background: #cca106;
        color: #fff;
    }
</style>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mt-5px">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1b1b1b">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="borrowMessageText" style="color:#1b1b1b"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm mt-5px me-auto" id="notify">Notify</button>
                <button type="button" class="btn btn-secondary btn-sm mt-5px" id="close" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>