<!-- Modal -->
{% load static %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header mt-5px">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#1b1b1b">Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="borrowMessageText" style="color:#1b1b1b"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm mt-5px" id="close" data-bs-dismiss="modal" style="background-color:#a6a6a6">Close</button>
            </div>
        </div>
    </div>
</div>