* {
    margin: 0;
    padding: 0;
    font-family: "Poppins" ,sans-serif;
    box-sizing: border-box;
    color: #ccc;
}


/* .cover-image img{
    width:75px;
    height: 85px;
    object-fit: cover;
}

.cover-image{
    display: flex;
    flex-direction: column;
} */

/* CSS for Book List */

/* Table Styling */
.books {
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
    margin-bottom: 10px;
}
  
.books th,
.books td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.books th {
  background-color: #ccc;
  color: #1b1b1b;
}

/* Cover Image Styling */

.cover-image {
  position: relative;
}
.cover-image img {
  width: 75px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  padding-top: 2px;
}



/* Book Details Styling */
.books td:nth-child(2) {
  display: flex;
  align-items: center;
}

.books td p {
  margin: 0;
}

/* Alternate Row Styling */
.books tr:nth-child(even) {
  background-color: #4e4c4c;
}

/* SI.NO Column Styling */
.books td:first-child {
  font-weight: bold;
}

/* Borrow button css */
.borrow-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  line-height: 1px;
}
.borrow-button a{
  text-decoration: none;
}
.borrow-button a {
  margin-right: 8px;
}

.borrow-button:hover {
  background-color: #0066cc;
}

.borrow-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.3);
}

  /* Modal container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 9999;
}
/* Modal content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
} 
.book-details {
  display: flex;
  align-items: center;
}

.cover-image {
  position: relative;
}
.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0.5, 1, 0, 0.7); /* Adjust the opacity as needed */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.cover-image:hover .description {
  cursor : pointer;
  opacity: 1; /* Show the description on hover */
}
.cover-image p{
  padding:10px;
  color:#fff;
  margin-left:5px;
}
/* Responsive Styling */

@media (max-width: 868px) {
  .books th,
  .books td {
    padding-left: 3px;
    font-size: 10px;
  }

  .cover-image img {
    width: 50px;
    height: 70px;
  }
  .borrow-button {
      font-size: 10px;
      padding: 5px 10px;
  }
  .borrow-button a {
      margin-right: 4px;
    }
  }


    