{% extends 'forms/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}">
<form method="post" action="{% url 'signup:reset_password' %}">
    {% csrf_token %}
    <div class="forgot">
        <div class="password">
            <p>Enter the email we will send you a link to reset the password</p>
            <label for="email">Email</label>
            <input name="email" type="email" id="email" placeholder="Enter registered email" required/>
            <input type="submit">
        </div>
    </div>
</form>
{% endblock %}