{% extends 'forms/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homestyles.css' %}">
<body>
  <section class="hero">
      <div class="hero-content">
        <h2>Welcome to Our Library</h2>
        <p>Discover, learn, and expand your knowledge</p>
        <a href="{% url 'signup:featured_books' %}" class="cta-button">Explore</a>
      </div>
  </section>
  <div class="home-bg" >
    <img src="https://images.prismic.io/edapp-website/7b49cc20-7e10-41ef-980d-af8c68f53723_Learning+Management+System+Examples+-+EdApp-2.png?auto=compress,format&rect=10,0,1340,700&w=1200&h=627" alt='No image'>
  </div>
</body>
{% endblock %}
