{% extends 'forms/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}">
<form method="post" action="{% url 'signup:reset_password' %}">
    {% csrf_token %}
    <div class="forgot">
        <div class="password">
            <input name="password" type="password" id="email" placeholder="Enter Password" required/>
            <input name="confirm_password" type="password" id="email" placeholder="Confirm Password" required/>
            <input type="submit">
        </div>
    </div>
</form>
{% endblock %}